<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-money"></span>
        <span class="sidebar-title">{{ 'Algemene wetten'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumsvb/algemeen/aow/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Algemene Ouderdomswet'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/algemeen/aio/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Inkomensvoorziening ouderen'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/algemeen/akw/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Algemene Kinderbijslagwet'|translate }}
            </a>
        </li>
    </ul>
</li>