<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-money"></span>
        <span class="sidebar-title">{{ 'Tegemoetkomingen'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumsvb/tegemoetkomingen/obr/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Overbruggingsregeling'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/tegemoetkomingen/rbb/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Bijstand Buitenland'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/tegemoetkomingen/tas/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Asbestslachtoffers'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/tegemoetkomingen/rem/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Remigratiewet'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/tegemoetkomingen/tog/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wet TOG'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/tegemoetkomingen/wkb/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wet kindgebonden budget'|translate }}
            </a>
        </li>
    </ul>
</li>