<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-cloud-download"></span>
        <span class="sidebar-title">{{ 'Databronnen'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumsvb/databronnen/formulieren/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Formulieren'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/databronnen/wet/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wetten'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/databronnen/databron/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Databronnen'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumsvb/databronnen/grondslag/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Grondslagen'|translate }}
            </a>
        </li>
    </ul>
</li>